{% extends "layout.html" %}
{% load static %}
{% block content %}

    <div class="row text-center g-0 h-100">
      <div class="col h-100">
        <section class="">
          <h5>Ingreso esperado</h5>
          <form action="{% url 'Simulador:home' %}" method="post">
            {% csrf_token %}
              <div class="mb-3">
                <input type="number" class="form-control" name="monto" id="monto" aria-describedby="helpId" placeholder="Monto esperado" min="0" step="10">

                <small id="helpId" class="form-text text-muted">Ingrese el monto en Millones de Dólares</small>
              </div>
              
              <button id="btnSimular" type="submit" class="btn btn-primary w-100 rounded-4">Simular</button>
          </form>
        </section>

        <section class="section-function ">
          <h5>Funci&oacute;n</h5>
          <figure class="figure-function">
            {{ plot_div|safe }}
          </figure>
        </section>

      </div>
      <div class="col">

        <section class="section-table overflow-auto">
          <h5>Tabla de Tiempo de espera</h5>
            <div class="input-group">
              <div class="input-group-prepend">
                <button class="btn btn-primary">
                  <i class="fa-solid fa-arrow-left"></i>
                </button>
              </div>
              <input type="text" class="form-control text-center" value="01/07/2023" readonly>
              <div class="input-group-append">
                <button class="btn btn-primary">
                  <i class="fa-solid fa-arrow-right"></i>
                </button>
              </div>
            </div>
          
            <div class="table-responsive-sm">
              <table class="table ">
                <thead>
                  <tr>
                    <th scope="col">Hora</th>
                    <th scope="col">RR (min)</th>
                    <th scope="col">MF (min)</th>
                  </tr>
                </thead>
                <tbody id="tablaBody">
                  {% for indice,row in table_data.iterrows %}
                    <tr>
                        <td>{{indice.1}}:00</td>
                      {% for data in row %}
                          <td>{{ data.RR }}</td>
                          <td>{{ data.MF }}</td>
                      {% endfor %}

                    </tr>
                  {% endfor %}
                  
                  
                  
                </tbody>
              </table>
            </div>
        </section>

      </div>

      <div class="col">
        <section class="section-state">
          <h5>Estado de Simulaci&oacute;n</h5>
          <p class="m-0">En espera...</p>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum esse, nulla quasi at saepe corporis</p>
        </section>

        <section class="section-map">
          <h5>Star Wars Galaxy's Edge</h5>
          <figure>
            <img src="{% static 'images/mapa.png' %}" alt="" class="img-fluid rounded">
          </figure>
        </section>

      </div>
    </div>
{% endblock %}  